/*
This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

https://docs.obsidian.md/Reference/CSS+variables/CSS+variables
*/

.pomodoro-timer {
	padding: 4px 8px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.pomodoro-timer.paused {
	/* background-color: var(--background-modifier-hover); */
	background-color: var(--interactive-normal);
}

.pomodoro-timer.active {
	background-color: var(--color-accent);
	color: var(--text-on-accent);
}

.pomodoro-timer.break {
	background-color: var(--color-break);
	color: var(--text-on-break);
}

.pomodoro-timer:not(.active):hover {
	background-color: var(--background-modifier-hover);
}

.pomodoro-timer.active:hover {
	background-color: var(--color-hover-active);
}
