/* https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */

.pomodoro-timer {
	padding: 4px 8px;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.pomodoro-timer.active {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}

.pomodoro-timer:not(.active):hover {
	background-color: var(--interactive-accent-hover);
	color: var(--text-on-accent);
}

.pomodoro-timer.active:hover {
	background-color: var(--background-modifier-active-hover);
}

.pomodoro-timer.paused {
	background-color: var(--interactive-normal);
}

.pomodoro-timer.paused:hover {
	background-color: var(--interactive-hover);
}
